<?xml version="1.0" encoding="UTF-8"?>
<!-- {@url http://logging.apache.org/log4j/2.x/manual/layouts.html} 输出格式
	{@url http://logging.apache.org/log4j/2.x/manual/async.html} 异步日志记录器 -->
<Configuration status="WARN" monitorInterval="300">
    <Properties>
        <property name="LOG_HOME">/opt/logs/app-monitor/</property>
        <property name="BACKUP_HOME">${LOG_HOME}/backup</property>
    </Properties>
    <Appenders>
        <RollingRandomAccessFile name="DailyFileAppender"
                                 fileName="${LOG_HOME}/app.log" filePattern="${BACKUP_HOME}/app-%d{yyyy-MM-dd}-%i.log.gz"
                                 immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}[%line]: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 GB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingRandomAccessFile>

        <Console name="ConsoleAppender">
            <!--<PatternLayout pattern="%d [%p] %c %m%n"/> -->
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line]: %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <root level="INFO" includeLocation="true">
            <AppenderRef ref="DailyFileAppender" />
        </root>
    </Loggers>
</Configuration>

